In [ ]:
#pandas适合处理以下类型的数据：表格数据、时间序列数据、带行列标签的矩阵数据
#主要数据结构：Series和DataFrame
#pandas是基于numpy开发的.区别为Numpy里面的数据格式只有一种，pandas可以包含多种类型

In [1]:
import numpy as np
import pandas as pd
a = pd.Series([1,2,np.nan,5,8])
dates = pd.date_range('20200101',periods = 12,freq="D")
df = pd.DataFrame(np.random.randn(12,3),index=dates,columns=list('abc'))
df.sort_index(axis=0,ascending=False)
df.loc[dates[0]]
df2 = df.copy()
df2['d'] = np.arange(12)
df2[df2['d'].isin(['0','1'])]
s = pd.Series([1,2,3,4,5,6],index=pd.date_range('20201210',periods=6,freq="D"))
df[df<0]=np.nan
df1 = df.copy()
df1.dropna(how='all')  #删除nan的行，any为1个，all为多个
df1.fillna(value=4)    #填充nan的行  value为填充值
pd.isna(df1)           #bool类型值表示
df.mean()

a    1.161520
b    0.917796
c    0.823598
dtype: float64

In [14]:
#shape[0]：查找行数，shape[1]：查找列数
df.shape[1]
df.a.value_counts().head()

0.847859    1
2.440284    1
0.232986    1
0.327476    1
2.119352    1
Name: a, dtype: int64

In [49]:
s = pd.Series([1,3,5,np.nan,6,8,6,5,8,np.nan,3,1],index=dates).shift(2)
df.sub(s,axis='index') #df减去s的值
df.apply(np.cumsum)
df.apply(lambda x:x.max() - x.min())

a    2.052095
b    0.732230
c    1.018010
dtype: float64

In [51]:
s = pd.Series(np.random.randint(0,7,size=10))
s.value_counts()

1    4
5    2
3    2
0    2
dtype: int64

In [52]:
s = pd.Series(['A', 'B', 'C', 'Aaba', 'Baca', np.nan, 'CABA', 'dog', 'cat'])
s.str.lower()

0       a
1       b
2       c
3    aaba
4    baca
5     NaN
6    caba
7     dog
8     cat
dtype: object

In [55]:
#concat连接函数
df = pd.DataFrame(np.random.randn(10,4))
pieces = [df[:3],df[3:7],df[7:]]
pieces
#pd.concat(pieces)

[          0         1         2         3
 0 -1.800292 -0.435863  0.169957  0.519946
 1 -1.393005  1.129019  1.808313  0.848223
 2  0.750914 -1.051921  0.010595 -1.508160,
           0         1         2         3
 3 -1.020059 -0.510235 -0.111590 -1.876345
 4 -0.488612  1.423682 -0.840090  1.436336
 5  0.649468  0.209400  0.319629 -0.621656
 6  1.583653 -0.663802 -1.069157 -1.380214,
           0         1         2         3
 7 -0.028094  2.570451  0.614628  0.804816
 8 -0.731495 -0.497442 -0.485830 -0.362220
 9 -0.450843 -0.438227  1.795593  1.233337]

In [59]:
#merge函数的用法
left = pd.DataFrame({'key':['a','b'],'ler':[1,2]})
right = pd.DataFrame({'key':['a','b'],'rer':[4,5]})
all = pd.merge(left,right,on='key')
all

  key  ler  rer
0   a    1    4
1   b    2    5

In [64]:
s = df.iloc[3]
df.append(s,ignore_index=True)

           0         1         2         3
0  -1.800292 -0.435863  0.169957  0.519946
1  -1.393005  1.129019  1.808313  0.848223
2   0.750914 -1.051921  0.010595 -1.508160
3  -1.020059 -0.510235 -0.111590 -1.876345
4  -0.488612  1.423682 -0.840090  1.436336
5   0.649468  0.209400  0.319629 -0.621656
6   1.583653 -0.663802 -1.069157 -1.380214
7  -0.028094  2.570451  0.614628  0.804816
8  -0.731495 -0.497442 -0.485830 -0.362220
9  -0.450843 -0.438227  1.795593  1.233337
10 -1.020059 -0.510235 -0.111590 -1.876345

In [68]:
#groupby分组函数的用法
df = pd.DataFrame({'A':['foo','bar','foo','bar','bar','foo','foo','bar'],'B':['one','two','three','four','five','one','two','three'],
                  'C':np.random.randn(8),'D':np.random.randn(8)})
df.groupby("A").sum()
df.groupby(['A','B']).sum()

                  C         D
A   B
bar five  -0.553655  1.759246
    four  -0.780612  0.136382
    three  0.645908  0.169411
    two   -1.307351 -0.085398
foo one    2.052745  2.101628
    three -1.197998  0.086178
    two   -0.451355 -0.349060

In [1]:
#数据透视表
pd.pivot_table(df,values='C',index='A',columns='B')

In [28]:
#数据准备
import pandas as pd
import numpy as np
index = pd.date_range("20200101",periods=8,freq="D")
s = pd.Series(np.random.randn(5),index=['a','b','c','d','e'])
df = pd.DataFrame(np.random.randn(8,3),index=index,columns=['a','b','c'])
s1 = s[:4]
s2 = s[1:]
s1.align(s2,join='inner')
#s.index

(b    0.684296
 c    0.375729
 d    0.602086
 dtype: float64, b    0.684296
 c    0.375729
 d    0.602086
 dtype: float64)

In [18]:
s.idxmax()

'd'

In [ ]:
#DataFrame转numpy时，若 DataFrame 里包含字符串，输出结果的数据类型就是 object。要是只有浮点数或整数，则输出结果的数据类型是浮点数。

In [16]:
#对象比较使用equals方法，对象与数据比较用==

a    0.724634
b    0.569114
c    1.037599
Name: 2020-01-02 00:00:00, dtype: float64

In [24]:
arr = np.random.randn(20)
#以值为根据进行分箱
factor = pd.cut(arr,[-5,-1,0,1,5])
#以分位数为根据进行分箱
factor1 = pd.qcut(arr,[0,0.25,0.5,0.75,1])
pd.value_counts(factor1)

(0.521, 1.299]       5
(-0.0163, 0.521]     5
(-0.681, -0.0163]    5
(-1.263, -0.681]     5
dtype: int64

In [26]:
#函数应用
#1.表级：pipe（）
# 定义一个函数，给所有Q的成绩加 n，然后增加平均数 
# 其中 n 中要加的值，为必传参数
def add_mean(rdf, n):
    df = rdf.copy()
    df = df.loc[:,'Q1':'Q4'].applymap(lambda x: x+n)
    df['avg'] = df.loc[:,'Q1':'Q4'].mean(1)
    return df
# 调用
df.pipe(add_mean, 100)
#2.行列级：apply（）
# 自定义：df.apply(fun) 
 # python 内置函数：df.apply(max)
 # lambda：df.apply(lambda x: x*2)
 # numpy 等其他库的函数：df.apply(np.mean)
 # Pandas 自己的函数：df.apply(pd.Series.first_valid_index)
#3.元素级
#对 DataFrame 中所有的元素（不包含索引）应用函数处理。使用 lambda 时，变量是指每一个具体的值

'\n函数应用\n\n'

In [32]:
for i,j in df.iterrows():
    print(i)
    print(j)

2020-01-01 00:00:00
a    1.273207
b   -0.219589
c   -0.020841
Name: 2020-01-01 00:00:00, dtype: float64
2020-01-02 00:00:00
a   -0.490223
b    0.952997
c    1.208902
Name: 2020-01-02 00:00:00, dtype: float64
2020-01-03 00:00:00
a   -0.432854
b   -0.037882
c   -1.549026
Name: 2020-01-03 00:00:00, dtype: float64
2020-01-04 00:00:00
a    0.985222
b   -0.748048
c   -2.554912
Name: 2020-01-04 00:00:00, dtype: float64
2020-01-05 00:00:00
a    2.654113
b   -2.117135
c    2.029696
Name: 2020-01-05 00:00:00, dtype: float64
2020-01-06 00:00:00
a   -0.641640
b    0.094135
c   -0.086821
Name: 2020-01-06 00:00:00, dtype: float64
2020-01-07 00:00:00
a   -0.268524
b    0.502902
c   -0.008930
Name: 2020-01-07 00:00:00, dtype: float64
2020-01-08 00:00:00
a    0.940269
b   -0.851331
c    0.333194
Name: 2020-01-08 00:00:00, dtype: float64

In [33]:
for row in df.itertuples():
    print(row)

Pandas(Index=Timestamp('2020-01-01 00:00:00', freq='D'), a=1.2732071728598104, b=-0.21958871054522927, c=-0.020841229655944805)
Pandas(Index=Timestamp('2020-01-02 00:00:00', freq='D'), a=-0.4902227180061543, b=0.9529973029216224, c=1.208901554116578)
Pandas(Index=Timestamp('2020-01-03 00:00:00', freq='D'), a=-0.4328544332186996, b=-0.03788163128083035, c=-1.549026296331315)
Pandas(Index=Timestamp('2020-01-04 00:00:00', freq='D'), a=0.9852223239785353, b=-0.7480479477570144, c=-2.5549115528974693)
Pandas(Index=Timestamp('2020-01-05 00:00:00', freq='D'), a=2.6541126972726183, b=-2.117135362827831, c=2.0296956688538774)
Pandas(Index=Timestamp('2020-01-06 00:00:00', freq='D'), a=-0.6416400678641373, b=0.09413508417371978, c=-0.08682063907461546)
Pandas(Index=Timestamp('2020-01-07 00:00:00', freq='D'), a=-0.2685239246511726, b=0.5029016882843539, c=-0.008929973760893944)
Pandas(Index=Timestamp('2020-01-08 00:00:00', freq='D'), a=0.9402692850664038, b=-0.8513313898565419, c=0.3331938383714998)

In [16]:
#df.loc[]：查找满足条件的所在位置
#df.iloc[]：通过下标查找对应值

KeyError: "None of [['2020-01-01']] are in the [index]"